*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: white;
    background-size: cover;
    background-position: center;
}

.header{
    height: 55px;
    width: 100%;
    /* Adiciono padding */
    padding: 10px; 
    background-color: #1ABC9C;
    display: flex;
    justify-content: space-around;
    gap: 180px;
    align-items: center;
    border-bottom: rgb(0, 0, 0) 1px solid;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: -50px;
}

.logo img {
    transition: all 0.7s;
    width: 100px;
    height: 70px;
    transform: rotate(17deg);
    object-fit: cover;
}

.logo:hover img{
    transform: scale(1.1);
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.registro-inicioSesion{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.registro-inicioSesion :hover{
    background-color: #14a387;
}

.registro-inicioSesion a{
    font-family: "Open Sans";
    font-size: 0.8125rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 18px 15px 18px 15px;
}

.publicaTuEspacio{
    margin-left: 20px;
}

.publicaTuEspacio :hover{
    background-color: #14a387;
}

.publicaTuEspacio a{
    border: white 1px solid;
    border-radius: 3px;
    font-family: "Open Sans";
    font-size: 0.8125rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 6px 20px 6px 20px;
}

.mensajeExito {
    background-color: rgba(9, 255, 0, 0.4);
    border: 1px solid rgb(9, 255, 0);
    padding: 15px;
    width: 300px;
    color: white;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 5px;
    position: relative;
    left: 50%;
    margin-left: -150px;
}

/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/

.seccion1 {
    display: flex;
    flex-direction: column;  /*Cambio para alinear en fila con formulario*/
    justify-content: center;
    align-items: center;
    background: url('../img/quinchosModernosCopia.jpeg') no-repeat center center; 
    background-size: cover; 
    width: 100%;
    height: 90vh;
    gap: 5px; /*Espacio de separación con el formulario*/
}

.contenido {
    display: flex;
    flex-direction: row; /* Alinea el carrusel y el formulario en la misma fila */
    justify-content: center;
    align-items: center;
    gap: 20px; /* Espacio entre el carrusel y el formulario */
    width: 100%;
    max-width: 1200px; /* Limita el ancho del contenedor */
    height: fit-content;
}

.imagenesInicio {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -200px;
}

.carrusel-container {
    right: 0;
    top: 0;
    position: relative; /*Ajusto la posición dentro del flex*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 200px rgba(1, 46, 8, 0.4); 
    background: rgba(30, 41, 21, 0.8); 
    object-fit: contain;
}

.imagen {
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1.5s ease-in-out; 
    filter: blur(2px);
    position: absolute;
    top: 0px;
    left: 0;
}

.imagen.active {
    opacity: 1;
    filter: blur(0px);
}

.seccion1 img{
    width: 300px;
    height: 220px;
}

.titulo{
    font-family: "Open Sans";
    font-size: 0.8em;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-bottom: 5px;
    padding: 15px;
    letter-spacing: 0.05em;
}

/* .descripcion{
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 400;
    color: white;
    margin-bottom: 30px;
} */

/* Estilo general del formulario */
form {
    /* border: 2px solid red; */
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    width: 800px;
    padding: 10px;
    border-radius: 8px;
    background-color: #0000009d;
    gap: 10px;
    z-index: 0;
}

/* Estilos para los elementos select e input */
form select, form input[type="number"] {
    width: 100%;
    padding: 15px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    appearance: none; /* Elimina el estilo predeterminado del navegador */
    cursor: pointer;
}

/* Icono de flecha para select (solo para webkit) */
form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjEwIiB3aWR0aD0iMTAiIHZpZXdCb3g9IjAgMCAxMCAxMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gPHBhdGggZD0iTTEgMmw0IDQgNC00eiIvPiA8L3N2Zz4=');
    background-repeat: no-repeat;
    background-position: right 10px center;
}

/* Estilos para el botón */
form button {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #14a387;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Efecto hover en el botón */
form button:hover {
    background-color: #0e7f65;
}

/* Estilos de opción de select al seleccionarse */
form select:focus, form input[type="number"]:focus {
    border-color: #14a387;
    outline: none;
}

/* Placeholder personalizado para inputs y select */
form select option, form input[type="number"]::placeholder {
    color: #999;
}

.publicaTuEspacioBoton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    padding: 10px 5px 10px 5px;
    font-size: 22px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    background-color: #14a387;
    border: 1px white solid;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.publicaTuEspacioBoton:hover{
    background-color: #0e7f65;
}

/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/

.seccion2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 110vh;
}

.imagenesPrincipales {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -250px;
    gap: 30px;
    width: 90%;

}

.fiesta,
.boda,
.reunion,
.empresarial {
    border: 1px solid rgb(223, 223, 223);
    max-width: 250px;
    border-radius: 4px;
}

.fiesta img,
.boda img,
.reunion img,
.empresarial img {
    max-height: 200px;
    max-width: 248px;
}

.texto {
    padding: 10px;
}

.titulo2 {
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 23px;
    color: rgb(102, 95, 95);
}

/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/
/*-----------ESTILOS DEL FORMULARIO REGISTRO INQUILINO-----------    ----------------------*/

.modal-overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(250, 248, 248, 0.5);
    z-index: 1;
}

.contenedorForm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.modal-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    background: #a1bfb6;
    padding: 40px 20px 40px 20px;
    border-radius: 8px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}

.tituloForm{
    font-size: 25px;
    font-weight: 500;
    text-align: center;
}

.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.modal-form .input-box {
    text-align: left;
    width: 300px;
}

.modal-form .input-box label {
    font-weight: bold;
    display: block;
}

.modal-form .input-box input[type="text"],
.modal-form .input-box input[type="password"],
.modal-form .input-box input[type="file"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.modal-form .btn {
    background-color: #14a387;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 30px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;

}

.modal-form .btn:hover {
    background-color: #45a049;
}

/* Mostrar el modal cuando esté activo */
.modal-overlay.active {
    display: flex;
}
.modal-overlay2.active {
    display: flex;
}


/* PIE DE PAGINA */

footer {
    background-color:#11ac78; /* Fondo del footer */
    padding: 3px 3px; /* Espaciado interno */
    box-shadow: 0 -2px 10px rgba(10, 44, 28, 0.5);
    width: 100%;
    height: 10vh;
    position: fixed;
    bottom: 0;
    z-index: 20;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.footer-links li {
    margin: 0;
}

.footer-links a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #f1f1ed;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
    padding: 5px 5px;
}

.footer-links a:hover {
    color: #9deb0c; /* Color al paso del cursor */
}

.social-media {
    display: flex; /* Alinea los iconos en fila */
    align-items: center;
}

.social-icon {
    color: #ffffff; /* Color de los iconos */
    font-size: 20px;
    margin: 0 5px; /* Reduce el margen horizontal entre iconos */
    transition: color 0.3s, transform 0.3s;
}

.social-icon:hover {
    color: #a7ebdf; /* Color de los iconos al pasar el cursor */
    transform: scale(1.5); /* Aumenta el tamaño al pasar el cursor */
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    color: #ffffff;
}




