/* General */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

/* Form Container */
.form-container {
    background-color: #a1bfb6;
    color: #fff;
    padding: 2rem;
    width: 100%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.form-container h2 {
    margin-top: 0;
    color: #fff;
}

/* Form Styles */
form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: center;
}

/* Labels and Inputs */
.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

label {
    font-weight: 600;
    text-align: left;
    color: #fff;
}

.input-container {
    display: flex;
    flex-direction: column;
}

select, input[type="text"], input[type="number"], input[type="file"] {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    width: 100%;
    box-sizing: border-box;
}

input::placeholder {
    color: #888;
}

/* Full-width for the file input and button */
input[type="file"], .form-submit {
    grid-column: span 2;
}

/* Submit Button */
button[type="submit"] {
    background-color: #14a387;
    color: #fff;
    padding: 0.75rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #13a387d9;
<<<<<<< HEAD
}

=======
}
>>>>>>> 9a595412b517046f3fca13342e53334fac63cdaf
