<!DOCTYPE html><!--HTML improvisado por Diego-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/administrador.css">

</head>

<body>

    <header class="header">
        <div class="logo">
            <a th:href="@{/}">
                <img th:src="@{/img/logo.png}" alt="Logo" />
            </a>
        </div>

        <nav class="nav">
            <ul class="nav-links">
                <li>
                    <a href="/logout" role="button" th:if="${session.usuariosession}">Cerrar sesión</a>
                </li>
                <li>
                    <a href="/admin/inmuebles" role="button" sec:authorize="hasRole('ADMIN')">lista Inmuebles</a>
                </li>
            </ul>
        </nav>
    </header>


    <main class="contenedor-principal">

        <div class="titulo-principal">
            <h1>Administración de Usuarios</h1>
        </div>
        
        <section>
            <h2>Propietarios</h2>
            <div class="busqueda-container">
                <input type="text" id="filtroPropietarios" placeholder="Buscar propietario por email"
                    class="campo-busqueda">
            </div>

            <div class="tabla-usuarios">
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Email</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="usuario : ${propietarios}">
                            <td th:text="${usuario.id}"></td>
                            <td th:text="${usuario.email}"></td>
                            <td>
                                <form th:action="@{/admin/eliminar/{id}(id=${usuario.id})}" method="post">
                                    <button type="submit" class="btn btn-eliminar">Eliminar</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <section>
            <h2>Inquilinos</h2>

            <div class="busqueda-container">
                <input type="text" id="filtroInquilinos" placeholder="Buscar inquilino por email"
                    class="campo-busqueda">
            </div>

            <div class="tabla-usuarios">
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Email</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="usuario : ${inquilinos}">
                            <td th:text="${usuario.id}"></td>
                            <td th:text="${usuario.email}"></td>
                            <td>
                                <form th:action="@{/admin/eliminar/{id}(id=${usuario.id})}" method="post">
                                    <button type="submit" class="btn btn-eliminar">Eliminar</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="footer-content">
            <ul class="footer-links">
                <li><a href="#privacy">Política de Privacidad</a></li>
                <li><a href="#terms">Términos y Condiciones</a></li>
            </ul>
            <div>
                <p class="footer-text">&copy; 2024 Los Quinchos. Todos los derechos reservados.</p>
            </div>

            <div class="social-media">
                <a href="#" target="_blank" class="social-icon">
                    <img width="25" height="25" src="https://img.icons8.com/ios-glyphs/30/FFFFFF/facebook.png"
                        alt="facebook" />
                </a>
                <a href="#" target="_blank" class="social-icon">
                    <img width="20" height="20" src="https://img.icons8.com/ios-filled/50/FFFFFF/x.png" alt="x" />
                </a>
                <a href="#" target="_blank" class="social-icon">
                    <img width="24" height="24"
                        src="https://img.icons8.com/material-outlined/24/FFFFFF/instagram-new--v1.png"
                        alt="instagram-new--v1" />
                </a>
            </div>
        </div>
    </footer>

    <script src="/js/administrador.js"></script>

</body>

</html>