<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROYECTO ALQUILER DE QUINCHOS PARA FIESTAS</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/buscarQuinchos.css">

</head>

<body>
    <h2>Buscá tu espacio</h2>
    <form id="busquedaForm">
        <label for="categoria">Categoría:</label>
        <select id="categoria" name="categoria">
            <option value="">Todas las categorías</option>
            <option value="quincho_con_pileta">Quincho con pileta</option>
            <option value="casa_fin_de_semana">Casa de fin de semana</option>
            <option value="salon_para_fiestas">Salón para fiestas</option>
        </select>

        <label for="Localidad">Localidad:</label>
        <input type="text" id="Localidad" name="localidad" placeholder="Ingrese localidad" list="sugerenciasUbicacion">
        <datalist id="sugerenciasUbicacion">
            <option value="Capital">
            <option value="General Alvear">
            <option value="Godoy Cruz">
            <option value="Guaymallén">
            <option value="Junín">
            <option value="La Paz">
            <option value="Las Heras">
            <option value="Lavalle">
            <option value="Luján de Cuyo">
            <option value="Maipú">
            <option value="Malargüe">
            <option value="Rivadavia">
            <option value="San Carlos">
            <option value="San Martín">
            <option value="San Rafael">
            <option value="Santa Rosa">
            <option value="Tunuyán">
            <option value="Tupungato">
        </datalist>

        <label for="capacidad">Capacidad:</label>
        <input type="number" id="capacidad" name="capacidad" min="1" max="10000" placeholder="Ej. 100">

        <label for="superficie">Superficie (m²):</label>
        <input type="number" id="superficie" name="superficie" min="1" max="9999999" placeholder="Ej. 100">

        <label>Servicios Adicionales:</label>
        <div class="checkbox-group">
            <label><input type="checkbox" name="servicios[]" value="dj"> DJ</label>
            <label><input type="checkbox" name="servicios[]" value="fotografia"> Fotografía</label>
            <label><input type="checkbox" name="servicios[]" value="wifi"> WiFi</label>
            <label><input type="checkbox" name="servicios[]" value="cocheras_techadas"> Cocheras Techadas</label>
            <label><input type="checkbox" name="servicios[]" value="catering"> Catering</label>
            <label><input type="checkbox" name="servicios[]" value="seguridad_privada"> Seguridad Privada</label>
            <label><input type="checkbox" name="servicios[]" value="iluminacion"> Iluminación</label>
            <label><input type="checkbox" name="servicios[]" value="vajilla"> Vajilla</label>
            <label><input type="checkbox" name="servicios[]" value="heladera"> Heladera</label>
            <label><input type="checkbox" name="servicios[]" value="freezer"> Freezer</label>
        </div>

        <button type="submit">Buscar</button>
    </form>


    </div>


    <script src="/js/buscarQuinchos.js"></script>
</body>

</html>