<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROYECTO ALQUILER DE QUINCHOS PARA FIESTAS</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/buscarQuinchos.css">
    <link href="https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap" rel="stylesheet">

</head>

<body>
    <header class="header">
        <div class="logo">
            <a th:href="@{/}">
                <img th:src="@{/img/logo.png}" alt="Logo" />
            </a>
        </div>
        <a th:href="@{/logout}" class="boton cerrar">Cerrar Sesión</a>
    </header>  
    <form id="busquedaForm" th:action="@{/buscarQuinchos}" method="POST">
        <div class= Buscar>
            <h2>Buscá Tu Espacio</h2>
        </div>
        <label for="categoria">Categoría:</label>
        <select id="categoria" name="categoria">
            <option value="">Todas las categorías</option>
            <option value="boda">Boda</option>
            <option value="empresarial">Empresarial</option>
            <option value="fiesta">Fiesta</option>
            <option value="reunion">Reunión</option>
        </select>

        <label for="Localidad">Localidad:</label>
        <input type="text" id="Localidad" name="localidad" placeholder="Ingrese localidad" list="sugerenciasUbicacion">
        <datalist id="sugerenciasUbicacion">
            <option value="Capital">
            <option value="General Alvear">
            <option value="Godoy Cruz">
            <option value="Guaymallén">
            <option value="Junín">
            <option value="La Paz">
            <option value="Las Heras">
            <option value="Lavalle">
            <option value="Lujan">
            <option value="Maipú">
            <option value="Malargüe">
            <option value="Rivadavia">
            <option value="San Carlos">
            <option value="San Martín">
            <option value="San Rafael">
            <option value="Santa Rosa">
            <option value="Tunuyán">
            <option value="Tupungato">
        </datalist>

        <label for="capacidad">Capacidad:</label>
        <input type="number" id="capacidad" name="capacidad" min="1" max="10000" placeholder="Ej. 100 personas">

        <label for="superficie">Superficie (m²):</label>
        <input type="number" id="superficie" name="superficie" min="1" max="9999999" placeholder="Ej. 1000 m²">

        <label>Servicios Adicionales:</label>
        <div class="checkbox-group">
            <label><input type="checkbox" name="servicios[]" value="Musica"> Musica</label>
            <label><input type="checkbox" name="servicios[]" value="Fotografia"> Fotografía</label>
            <label><input type="checkbox" name="servicios[]" value="Wifi"> WiFi</label>
            <label><input type="checkbox" name="servicios[]" value="Cochera"> Cocheras Techadas</label>
            <label><input type="checkbox" name="servicios[]" value="Catering"> Catering</label>
            <label><input type="checkbox" name="servicios[]" value="Seguridad"> Seguridad Privada</label>
            <label><input type="checkbox" name="servicios[]" value="Iluminacion"> Iluminación</label>
            <label><input type="checkbox" name="servicios[]" value="Vajilla"> Vajilla</label>
            <label><input type="checkbox" name="servicios[]" value="Heladera"> Heladera</label>
            <label><input type="checkbox" name="servicios[]" value="Freezer"> Freezer</label>
        </div>

        <button type="submit">Buscar</button>
    </form>


    </div>


    <script src="/js/buscarQuinchos.js"></script>
</body>

</html>