<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROYECTO ALQUILER DE QUINCHOS PARA FIESTAS</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/css/menu.css">

</head>

<body>
    <header class="header">
        <div class="logo">
            <a th:href="@{/}">
                <img th:src="@{/img/logo.png}" alt="Logo" />
            </a>
        </div>

        <div class="nav">
            <div class="registro-inicioSesion">
                <a href="/buscarQuinchos" role="button" th:if="${session.usuariosession == null}">Busca tu espacio</a>
                <a href="/buscarQuinchos" role="button" sec:authorize="hasRole('INQUILINO')">Busca tu espacio</a>
                <a href="/admin/usuarios" role="button" sec:authorize="hasRole('ADMIN')">lista Usuarios</a>
                <a href="/admin/inmuebles" role="button" sec:authorize="hasRole('ADMIN')">lista Inmuebles</a>
                <a href="/login" role="button" th:if="${session.usuariosession == null}">Iniciar sesión</a>
                <a href="/logout" role="button" th:if="${session.usuariosession}">Cerrar sesión</a>
                <a href="javascript:void(0);" onclick="openModal()" class="open-modal-btn"
                    th:if="${session.usuariosession == null}">Regístrate (Inquilino)</a>
                <a href="/perfil/perfilUsuarioInquilino" role="button" sec:authorize="hasRole('INQUILINO')"><i
                        class="bi bi-person-fill"></i>Perfil</a>
                <a href="/perfil/perfilUsuarioPropietario" role="button" sec:authorize="hasRole('PROPIETARIO')"><i
                        class="bi bi-person-fill"></i>Perfil</a>
            </div>

            <div class="publicaTuEspacio">
                <a href="/publicaTuEspacio" role="button" th:if="${session.usuariosession == null}">Publicar tu
                    espacio</a>
                <a href="/inmueble/registroInmueble" role="button" sec:authorize="hasRole('PROPIETARIO')">Publica tu espacioo</a>
            </div>
        </div>

    </header>

    <div class="modal-overlay" id="modalOverlay">
        <div class="contenedorForm">
            <form class="modal-form" th:action="@{/registroInquilino}" method="POST" enctype="multipart/form-data">
                <div class="tituloForm">Registrate</div>

                <div class="form-group">
                    <div class="input-box">
                        <label for="nombre">Nombre y Apellido</label>
                        <input type="text" name="nombre" placeholder="Ingrese su Nombre" th:value="${nombre}" required>
                    </div>
                    <div class="input-box">
                        <label for="telefono">Telefono</label>
                        <input type="text" name="telefono" placeholder="Ingrese su Telefono" th:value="${telefono}"
                            required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-box">
                        <label for="email">Email</label>
                        <input type="text" name="email" placeholder="Ingrese su Email" th:value="${email}" required>
                    </div>
                    <div class="input-box">
                        <label for="imagen">Imagen de perfil</label>
                        <input type="file" name="imagen" placeholder="imagen">
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-box">
                        <label for="password">Contraseña</label>
                        <input type="password" name="password" placeholder="Ingrese su contraseña" required>
                    </div>
                    <div class="input-box">
                        <label for="password">Repita la Contraseña</label>
                        <input type="password" name="password2" placeholder="Repetir Contraseña" required>
                    </div>
                </div>

                <button type="submit" class="btn">Registrarme</button>
            </form>
        </div>
    </div>


    <div th:if="${exito}" class="mensajeExito">
        <div class="mensajeContenido">
            <h5>Éxito!</h5>
            <p th:text="${exito}"></p>
        </div>
        <i class="bi bi-x-square cerrar" onclick="ocultarMensaje()"></i>
    </div>


    <div class="seccion1">
        <div class="titulo">
            <h1>El Sitio Perfecto Para Tú Evento en la Provincia de Mendoza</h1>
            <!-- <p class="descripcion">Descubre espacios en alquiler para eventos, fiestas, bodas y reuniones en todo Mendoza
            </p> -->
        </div>

        <div class="contenido"> <!-- Nuevo contenedor para alinear el carrusel y formulario -->
            <div class="carrusel-container">
                <div class="imagenes-carrusel" id="imagenes-carrusel">
                    <img class="imagen active" src="/img/Imagen1.jpg" alt="Boda">
                    <img class="imagen" src="/img/Imagen2.jpg" alt="Graduación">
                    <img class="imagen" src="/img/Imagen3.jpg" alt="Fiesta Infantil">
                    <img class="imagen" src="/img/Imagen4.jpg" alt="Celebración Familiar">
                    <img class="imagen" src="/img/Imagen5.jpg" alt="Reunión de Trabajo">
                    <img class="imagen" src="/img/Imagen6.jpg" alt="Fiesta Corporativa">
                </div>
            </div>

            <form th:action="@{/buscarQuinchos}" sec:authorize="!hasRole('PROPIETARIO')">
                <select name="tipoDeEvento">
                    <option value="Todas Las Categorias">Todas las categorias</option>
                    <option value="Boda">Boda</option>
                    <option value="Empresarial">Empresarial</option>
                    <option value="Fiesta">Fiesta</option>
                    <option value="Reunion">Reunion</option>
                </select>
                <input type="number" name="cantidad" min="1" max="999" value="1">
                <select name="lugar">
                    <option value="GODOY CRUZ">Godoy Cruz</option>
                    <option value="GUAYMALLEN">Guaymallen</option>
                    <option value="LUJAN">Lujan</option>
                    <option value="LAS HERAS">Las Heras</option>
                </select>
                <button>Buscar</button>
            </form>
        </div>

        <a class="publicaTuEspacioBoton" href="/inmueble/registroInmueble" role="button"
            sec:authorize="hasRole('PROPIETARIO')">¡Publica tu espacio aqui!</a>
    </div>


    <div class="seccion2">
        <div class="imagenesPrincipales">
            <div class="fiesta">
                <img th:src="@{/img/fiesta.jpg}" alt="fiesta">
                <div class="texto">
                    <div class="titulo2">
                        <p>Fiesta</p>
                    </div>
                    <div class="descripcion2">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus eaque at necessitatibus. Eius
                            omnis maxime voluptas vitae minima mollitia numquam perspiciatis ipsum, totam ea nam quam
                            nisi. Eaque, architecto mollitia?</p>
                    </div>
                </div>
            </div>
            <div class="boda">
                <img th:src="@{/img/boda.jpg}" alt="boda">
                <div class="texto">
                    <div class="titulo2">
                        <p>Boda</p>
                    </div>
                    <div class="descripcion2">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus eaque at necessitatibus. Eius
                            omnis maxime voluptas vitae minima mollitia numquam perspiciatis ipsum, totam ea nam quam
                            nisi. Eaque, architecto mollitia?</p>
                    </div>
                </div>
            </div>
            <div class="reunion">
                <img th:src="@{/img/reunion.jpg}" alt="reunion">
                <div class="texto">
                    <div class="titulo2">
                        <p>Reunion</p>
                    </div>
                    <div class="descripcion2">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus eaque at necessitatibus. Eius
                            omnis maxime voluptas vitae minima mollitia numquam perspiciatis ipsum, totam ea nam quam
                            nisi. Eaque, architecto mollitia?</p>
                    </div>
                </div>
            </div>
            <div class="empresarial">
                <img th:src="@{/img/empresarial.jpg}" alt="empresarial">
                <div class="texto">
                    <div class="titulo2">
                        <p>Empresarial</p>
                    </div>
                    <div class="descripcion2">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus eaque at necessitatibus. Eius
                            omnis maxime voluptas vitae minima mollitia numquam perspiciatis ipsum, totam ea nam quam
                            nisi. Eaque, architecto mollitia?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <p>&copy; 2024 Los Quinchos. Todos los derechos reservados.</p>
        <div class="footer-content">
            <ul class="footer-links">
                <li><a href="#privacy">Política de Privacidad</a></li>
                <li><a href="#terms">Términos y Condiciones</a></li>
            </ul>
            <div class="social-media">
                <a target="_blank" class="social-icon">
                    <img width="25" height="25" src="https://img.icons8.com/ios-glyphs/30/FFFFFF/facebook.png" alt="facebook"/>
                </a>
                <a target="_blank" class="social-icon">
                    <img width="20" height="20" src="https://img.icons8.com/ios-filled/50/FFFFFF/x.png" alt="x"/>
                </a>
                <a target="_blank" class="social-icon">
                    <img width="24" height="24" src="https://img.icons8.com/material-outlined/24/FFFFFF/instagram-new--v1.png" alt="instagram-new--v1"/>
                </a>
            </div>
        </div>
    </footer>


    <script src="/js/menu.js"></script>
</body>

</html>