<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Quincho</title>
    <link href="https://fonts.googleapis.com/css2?family=Chewy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="\estilos\styles-principal.css">
</head>

<body class="body-principal">

    <header>
        <nav class="navbar-container">
            <!-- Logo -->
            <div class="navbar-logo">
                <img src="logotipo.png" alt="Logotipo" class="logo">
            </div>

            <!-- Enlaces a paginas internas -->
            <div class="navbar-links">
                <ul>
                    <li><a href="quienes-somos.html">Quiénes Somos</a></li>
                    <li><a href="busca-tu-sitio.html">Busca tu Sitio</a></li>
                    <li><a href="testimonios.html">Testimonios</a></li>
                    <li><a href="registrate.html">Regístrate</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <section>
        <div class="container">
            <div class="slogan">
                <h1>¡Alquila... el Mejor Sitio para tus Eventos!</h1>
            </div>
            <div class="carrusel-container">
                <div class="imagenes-carrusel" id="imagenes-carrusel">
                    <img class="imagen active" src="/imagenes/Imagen1.jpg" alt="Boda">
                    <img class="imagen" src="/imagenes/Imagen2.jpg" alt="Graduación">
                    <img class="imagen" src="/imagenes/Imagen3.jpg" alt="Fiesta Infantil">
                    <img class="imagen" src="/imagenes/Imagen4.jpg" alt="Celebración Familiar">
                    <img class="imagen" src="/imagenes/Imagen5.jpg" alt="Reunión de Trabajo">
                    <img class="imagen" src="/imagenes/Imagen6.jpg" alt="Fiesta Corporativa">
                </div>
            </div>
        </div>
        <div class="boton-buscar">
            <a href="busca_tu_sitio.html">
                <button class="boton-sitio">Busca el sitio perfecto</button>
            </a>
        </div>
    </section>

    <script src="\interactividad\script.js"></script>


    <footer>
        <p>&copy; 2024 Los Quinchos. Todos los derechos reservados.</p>
        <div class="footer-content">
            <ul class="footer-links">
                <li><a href="#privacy">Política de Privacidad</a></li>
                <li><a href="#terms">Términos y Condiciones</a></li>
            </ul>
            <div class="social-media">
                <a href="https://www.facebook.com" target="_blank" class="social-icon">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://www.twitter.com" target="_blank" class="social-icon">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.instagram.com" target="_blank" class="social-icon">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
    </footer>

</body>

</html>